
.Reborn #Hotkey{
    margin-left: 0px;
    margin-top: 0px;
    background-color: #212726;
    border-radius: 0px;
    border: 0px;
    box-shadow: fill #000000aa 1px 1px 6px 0px;
    border-radius: 4px;
    border: 1px solid black;
}
#Hotkey{
    margin-left: -4px;
    z-index: 16;
    border-radius: 20%;
    vertical-align: top;
    horizontal-align: left;
    min-width: 14px;
    min-height: 14px;
    max-width: 70px;
    max-height: 15px;
    white-space: nowrap;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #414849 ) );
    border: 1px solid #ffffff05;
    box-shadow: fill black 2px 1px 1px 2px;
}
.Reborn #HotkeyText{
    color: white;
    margin-top: -1px;
}
#HotkeyText{
    color: #bba995;
    text-shadow: 1px 1px 0px 2 #000000;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    horizontal-align: center;
    margin: 0px 0px -2px 0px;
}
