#DOTAHUDStrAgiInt{
    vertical-align: bottom;
    horizontal-align: right;
    flow-children: right;
    width: fit-children;
    height: 20px;
    margin-bottom: -5px;
    margin-left: 5px;
    background-color:#000A;
    padding-top: 0px;
    padding-left: 0px;
    opacity: 1;
    z-index: 7;
}

.Reborn #Intelligence,.Reborn #Agility,.Reborn #Strength,.AttrIconContainer{
    tooltip-position: top;
    tooltip-body-position: 50% 50%;
}
.AttrIconContainer{
    width: fit-children;
    height: 100%;
    horizontal-align: right;
    vertical-align: center;
    flow-children: right;
    margin-right: 3px;
    margin-right: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.Reborn .HighlightStatIcon{
    width: 14px;
    height: 14px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100%;
    visibility: collapse;
    vertical-align:center;
}

.Reborn .StatLabel{
    font-size: 18px;
    font-weight: medium;
    letter-spacing: 0px;
    color: #ccc;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    text-shadow: 0px 0px 4px 4 #00000088;
    font-family: monospaceNumbersFont;
    text-align: right;
    text-overflow:shrink;

}
.Reborn .QueryUnit .StatLabel{
    margin: 0px;
    text-align: center;
    margin-left: 1px;
    margin-top: 0px;
}
.Reborn #StrengthIcon,.Reborn #AgilityIcon,.Reborn #IntelligenceIcon,.Reborn .StatIcon{
    margin: 0px;
    horizontal-align: center;
    background-image: none;
}
.Reborn #StrengthIcon{
    background-image: url( "s2r://panorama/images/primary_attribute_icons/mini_primary_attribute_icon_strength_psd.vtex");
    width: 13px;
    height: 13px;
    opacity: .5;
    brightness: .8;
}
.Reborn #AgilityIcon{
    background-image: url( "s2r://panorama/images/primary_attribute_icons/mini_primary_attribute_icon_agility_psd.vtex");
    width: 13px;
    height: 13px;
    opacity: .5;
    brightness: .8;
}
.Reborn #IntelligenceIcon{
    border: 0px solid #00d9ec;
    background-image: url( "s2r://panorama/images/primary_attribute_icons/mini_primary_attribute_icon_intelligence_psd.vtex");
    width: 13px;
    height: 13px;
    opacity: .5;
    brightness: .8;
}